:root { 
  --black: #000000;
  --outrageous-orange: #ff6036;
  --sunglow: #fcc537;
  --thunder: #2d2b2c;
  --white: #ffffff;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 15px;
  --font-size-xl: 26px;
  --font-size-xs: 14px;
  --font-size-xxl: 49px;
  --font-size-xxs: 12px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-medium-white-15px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-black-white-47px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 47px;
  font-style: normal;
  font-weight: 900;
}

.roboto-bold-white-76px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
}

.roboto-black-white-49px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}
